<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" data-ng-controller="menu">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink("Memory Time", "Index", "Game", new { area = "" }, new { @class = "navbar-brand" })
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">New Game <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li class="dropdown dropdown-submenu">
								<a href="#" data-toggle="dropdown" aria-expanded="false">Story</a>
								<ul class="dropdown-menu">
									<li><a tabindex="0">Local Story</a></li>
									<li><a tabindex="0">Australian WW1</a></li>
									<li><a tabindex="0">Mix</a></li>
								</ul>
							</li>
							<li><a href="#arcade" onclick="location.reload()">Arcade</a></li>
							<li><a href="#timeless" onclick="location.reload()">Timeless</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Difficulty <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="" data-ng-click="setDifficulty(1)">Easy</a></li>
							<li><a href="" data-ng-click="setDifficulty(2)">Normal</a></li>
							<li><a href="" data-ng-click="setDifficulty(3)">Hard</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
<div class="container body-content">
	<div class="score">
		Score: 162
	</div>
	<div class="timer">
		Time: 1:32 seconds
	</div>
	@RenderBody()
	<hr/>
	<footer>
		<p>&copy; @DateTime.Now.Year - Memory Time Application</p>
	</footer>
</div>

	@Scripts.Render("~/bundles/angular")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/lib")
	@Scripts.Render("~/bundles/app")
	@RenderSection("scripts", required: false)
</body>
</html>
